---
import { App } from "../components/App";
import "../styles/global.css";
import "@fontsource/outfit";
import "@fontsource/fredoka";
import "@fontsource/comic-neue";
import "@fontsource/quicksand";
import "@fontsource/playfair-display";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sumaq - Editor de Diplomas</title>
	</head>
	<body>
		<App client:only="react" />
	</body>
</html>

<style is:global>
	/* Reset y fuentes globales */
	body {
		margin: 0;
		font-family: "Outfit", sans-serif;
		overflow: hidden; /* App maneja scroll */
	}
</style>
